.delightful-bites {
    color: white;
    background-color: #ba829e;
    text-align: center;
    font-size: 20px;
    
}

.cupcake {
    border-radius: 10%;
    height: 320px;
    width: auto;
    margin-right: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.heading{
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .text {
    line-height: 1.8;
    
 }
 .color {
    color:#ba829e;
    font-size: 20px;
 }
  ul li {
    text-align: center;
    display: block;
    margin: 10px;
  }

.recipes {
    color:#ba829e;
    text-align: center;

}

body {
    background-color: #ba829e;
}

.main-area {
    background-color:white;
    padding: 20px;
    width: 658px;
    
}

